* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.7rem;
  font-family: "Epilogue", sans-serif;
  color: hsl(0, 0%, 98%);
}
.container {
  margin: 2rem 3rem;
}
.header {
  display: flex;
  gap: 7rem;
}
.header img {
  align-self: center;
}
.main-nav {
  flex-basis: 90%;
  display: flex;
}
.login--register {
  display: flex;
  gap: 3rem;
  margin-left: 25rem;
}
.login,
.register {
  font-family: "Epilogue", sans-serif;
  padding: 1.3rem 2.5rem;
  font-size: 1.7rem;
  color: hsl(0, 1%, 17%);
}
.login {
  border: none;
  background-color: transparent;
}
.register {
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 0 2rem 0 2rem;
}
.menu-icon {
  display: none;
}
.login:hover,
.register:hover {
  cursor: pointer;
}
.main-nav a {
  color: hsl(0, 0%, 41%);
  display: block;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.4s;
}
.main-nav a:hover {
  color: black;
}
.main-nav ul {
  list-style: none;
  display: flex;
  flex-basis: 80%;
}
.main-nav li {
  width: 100%;
  text-align: center;
  position: relative;
}

.main-nav li:hover .submenu > li {
  display: block;

  top: 0px;
}
.main-nav li:hover .features > li {
  display: block;
  display: flex;
  top: 0px;
}
.submenu li {
  display: none;
  position: relative;
  top: 0px;
}

.submenu li a {
  height: 40px;
}
.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 170px;
  box-shadow: 0px 2.98256px 7.4564px rgba(1, 1, 1, 0.2);
}
.company {
  width: 150px;
}
.arrow {
  margin-left: 8px;
}
.icon {
  margin-right: 4rem;
  position: relative;
  left: 2.5rem;
}

.close,
.hamburger {
  max-height: 35px;
  max-width: 45px;
  display: none;
}
.button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.hamburger img {
  height: 80%;
}
.close img {
  height: 80%;
}

/* main section*/

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.hero--img {
  height: 500px;
  margin-right: 50px;
  flex-basis: 50%;
}
.pc {
  position: relative;
  bottom: 2.5rem;
}
.mobile {
  display: none;
}
.hero--text {
  margin-left: 50px;
  position: relative;
  bottom: 60px;
  flex-basis: 50%;
}
.hero--text h1 {
  margin-bottom: 0;
  font-size: 7rem;
  line-height: 8rem;
  color: hsl(0, 0%, 8%);
}
h1 {
  color: red;
}
.hero--text p {
  padding-bottom: 50px;
  padding-top: 20px;
  line-height: 2.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  max-width: 400px;
  color: hsl(0, 0%, 41%);
}
.hero--text a {
  text-decoration: none;
  background-color: hsl(0, 0%, 8%);
  color: white;
  padding: 20px 30px;
  font-size: 2rem;
  border-radius: 15px;
}
.hero--text a:hover {
  color: hsl(0, 0%, 8%);
  background-color: transparent;
  padding-right: 35px;
  border: 2px solid hsl(0, 0%, 8%);
}

footer {
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-bottom: 50px;
  gap: 30px;
  position: relative;
  bottom: 5.5rem;
}
footer img {
  height: 25px;
}
@media all and (max-width: 800px) {
  .container {
    margin: 2rem 1rem;
  }
  .main-nav {
    /* display: none; */
    position: absolute;
    background: white;
    height: 140vh;
    width: 300px;
    top: 0;

    /* we changed right(width) from 0 to -200px so the menu on the small screen can close*/
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    flex-direction: column;
  }
  .main-nav ul {
    flex-direction: column;
    padding-left: 30px;
  }

  .login--register {
    flex-direction: column;
    gap: 2rem;
    margin: 0rem 2rem;
    position: relative;
    bottom: 45rem;
  }

  .main-nav a {
    height: 48px;
    justify-content: left;
  }
  .submenu {
    position: static;
    width: 100%;
    box-shadow: none;
  }
  .submenu a {
    width: 95%;
    margin: 0 auto;
    background-color: none;
  }
  .close {
    display: block;
    margin: 15px 0 10px 220px;
    cursor: pointer;
  }
  .hamburger {
    display: block;
    position: absolute;
    left: 85%;
    right: 0;
    top: 2.5rem;
  }
  main {
    flex-direction: column-reverse;
  }
  .hero--img {
    height: 400px;
    margin-right: 0;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: flex;
    max-width: 100%;
    position: relative;
    bottom: 0;
    margin-bottom: 11rem;
  }
  .mobile img {
    width: 100%;
  }
  .hero--text {
    margin-left: 0;
    text-align: center;
  }
  .heading--break {
    display: none;
  }
  .hero--text h1 {
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .hero--text p {
    padding-bottom: 60px;
    padding-top: 30px;
    line-height: 2.5rem;
    font-size: 1.6rem;
    max-width: 100%;
  }
  .hero--text a {
    padding: 20px 35px;
    font-size: 1.7rem;
  }
  footer {
    align-items: center;
    padding-left: 0;
    justify-content: center;
    gap: 40px;
    position: relative;
    top: 20px;
    bottom: 0px;
    max-width: 100%;
    overflow: hidden;
  }
  footer img {
    height: 20px;
  }
}

@media (min-width: 801px) and (max-width: 1300px) {
  body {
    padding: 1rem 0rem;
  }
  .header {
    gap: 0;
  }
  .header > img {
    margin-right: 5rem;
  }
  .main-nav > ul {
    gap: 3rem;
    padding: 0 0;
  }
  .login--register {
    gap: 0.5rem;
    margin-left: 0rem;
    position: relative;
    left: 4rem;
  }
  main {
    justify-content: space-between;
    gap: 2rem;
  }

  /* .pc {
  position: relative;
  top: 0rem;
} */
  .hero--img {
    height: 450px;
    margin-right: 20px;
  }
  .hero--text {
    margin-left: 2rem;
    bottom: 60px;
  }
  .hero--text h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .hero--text p {
    line-height: 2.5rem;
    font-size: 1.6rem;
    max-width: 500px;
  }
  footer {
    padding-left: 0;
    padding-bottom: 30px;
    gap: 25px;
  }
  footer img {
    height: 2rem;
  }
}
